@model CategoryPizzaViewModel
@{
}

<div class="container py-3">
  <form class="row g-3" method="POST" asp-action="Create">
    <div class="col-12">
      <label asp-for="Pizza.CategoryId" class="form-label">Category</label>
      <select asp-for="Pizza.CategoryId" asp-items="@Model.Categories" class="form-select">
        <option disabled selected>-- Select a Category --</option>
      </select>
      <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
    </div>
    <div class="col-md-6">
      <label asp-for="Pizza.Name" class="form-label">Name</label>
      <input asp-for="Pizza.Name" type="text" class="form-control">
      <span asp-validation-for="Pizza.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
      <label asp-for="Pizza.Price" class="form-label">Price</label>
      <input asp-for="Pizza.Price" type="number" class="form-control" step=".01" value="0" min="0" max="100">
      <span asp-validation-for="Pizza.Price" class="text-danger"></span>
    </div>
    <div class="col-md-6">
      <label asp-for="Pizza.Photo" class="form-label">Photo</label>
      <input asp-for="Pizza.Photo" type="text" class="form-control">
      <span asp-validation-for="Pizza.Photo" class="text-danger"></span>
    </div>
    <div class="col-md-6">
      <label asp-for="Pizza.Description" class="form-label">Description</label>
      <textarea asp-for="Pizza.Description" class="form-control" rows="3"></textarea>
      <span asp-validation-for="Pizza.Description" class="text-danger"></span>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>